**/conda
**/conda_environments
**/.neptune
**/logs
**/tmp
**/tmp*
**/*.csv
**/*.ckpt
*lightning_logs*
.hydra_logs/
.hydra/
**/*.log
**/old
**pycache**
.ruff_cache
notebooks/*.ipynb
notebooks/*.ipynb_checkpoints
data/**
public/**
site/**
logs/**
*config_tree*
client.py
*egg-info**
