**/conda
**/conda_environments
**/*.png
**/.neptune
**/logs
**/tmp
**/tmp*
**/*.csv
**/*.ckpt
*lightning_logs*
*hydra*
**/*.log
**/old
**pycache**
.ruff_cache
notebooks/*.ipynb
notebooks/*.ipynb_checkpoints
data/**.csv
data/**.zip
data/**.pkl
data/**.json
data/**.feather
data/**.png
data/**.jpg
data/**.jpeg
